<!DOCTYPE html>
<html lang="en" class="static " data-root="/">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo</title>
</head>
<body>
</body>
</html>